/* =====================Fonts & Colors==================== */
/* Farben: #2C2C2C, #FDF860, #000000, #FFFFFF, #97F5BB, #525DF4 */
/* Fonts: Orbitron, Lato */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&display=swap');

/* =====================Generally==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2C2C2C;
}

.Counter {
    background-color: #000000;
    border-radius: 30px;
    color: #FDF860;
    text-align: center;
    font-family: 'Orbitron';
    font-size: 150px;
    margin: 37px;
    height: 415px;
    width: 415px;
}

.CounterHome, .CounterAway {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 40px;
    margin-top: 123px;
}

.CounterAnzeigeHome, .CounterAnzeigeAway {
    padding-top: 113px;
}
/* =====================Buttons Home&Away==================== */

.btnHome, .btnAway {
    font-family: 'Lato';
    font-size: 37px;
    color: #FFFFFF;
    height: 105px;
    width: 105px;
    border-radius: 20px;
}

.btnHome{
    display: inline-block;
    background-color: #97F5BB;
}

.btnGroupHome, .btnGroupAway {
    margin-top: 120px;
}

.btnGroupHome button:first-of-type, .btnGroupAway button:first-of-type {
    margin-left: 12%;
    margin-right: 25px;
}

.btnGroupHome button:last-of-type, .btnGroupAway button:last-of-type {
    margin-left: 25px;
}

.btnAway {
    display: inline-block;
    background-color: #525DF4;
}

button {
    border: none;
}

/* =====================Home==================== */
main {
    margin: 0 auto; 
}

.CounterHome {
    height: 489px;
    width: 489px;
    display: inline-block;
    border: 5px solid #97F5BB;
    margin-left: 155px; 
}

.CounterHome p {
    display: inline;
    font-family: 'Orbitron';
    font-size: 37px;
    background-color: #2C2C2C;
    color: #FFFFFF;
}


/* =====================Away==================== */

.CounterAway {
    height: 489px;
    width: 489px;
    display: inline-block;
    border: 5px solid #525DF4;
    margin-left: 150px;
    margin-right: 157px;
}

.CounterAway p {
    display: inline;
    font-family: 'Orbitron';
    font-size: 37px;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

/* =====================Footer==================== */

.reset {
    margin-top: 82px;
}

.reset button {
    font-family: 'Lato';
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 39px;
    width: 122px;
    margin-left: 659px;
    margin-bottom: 49px;
}

 /* =====================Footer Team-Name EXTRAS==================== */

 .team button {
    display: inline-block;
    font-family: 'Lato';
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 39px;
    width: 122px;
    margin-bottom: 20px;
}

.team button {
    margin-left: 659px;
}

.team h1 {
    text-decoration: underline;
}

#teamNameHome p {
    font-family: 'Lato';
    margin-top: 15px;
    margin-bottom: 25px;
}

#NameHome {
    margin-bottom: 10px;
}

#AnzeigeNameHome, #AnzeigeNameAway {
    font-size: 20px;
}

#AnzeigeNameHome {
    color: #97F5BB;
}

#AnzeigeNameAway {
    color: #525DF4;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 1;
    pointer-events: None;
}
   
.modalDialog:target {
    opacity: 1;
    pointer-events: Auto;
}
   
.modalDialog > div {
    font-family: 'Orbitron';
    width: 300px;
    padding-left: 10px;
    padding-top: 15px;
    position: relative;
    margin: 10% Auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #2C2C2C;
}
   
.close {
    background-color:#2C2C2C;
    color: #FFFFFF;
    position: Absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: None;
    border-radius: 12px;
}
   
.close:hover {
    color:#FFFFFF;
    background-color: red;
}